{% block html_head_container %}
    {% include 'html-header.twig' %}
    {% block head %}
    {% endblock %}
</head>
{% endblock %}

<body class="{{ body_class }}" data-template="base.twig">
    {{ function('wp_body_open') }}
    <a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>
    {% include 'header.twig' %}
    
    {% if title %}
        <h1 class="rosso fm-rale text-center fw-bolder">{{ title }}</h1>
    {% endif %}
    
    <div class="wrapper">
        {% block content %}
            Sorry, no content
        {% endblock %}
    </div>

    {% if sidebar %}
        <aside class="layout-sidebar">
            {{ sidebar }}
        </aside>
    {% endif %}

    {% block footer %}
        <footer id="footer">
            {% include 'footer.twig' %}
        </footer>
        {{ function('wp_footer') }}
    {% endblock %}

    <script src="{{ site.theme.link }}/assets/js/custom.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
